*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #F5F7F8;
}
.hide-nav{
    height: 0px !important;
    transition: all 0.2s;
}
@font-face {
    font-family: 'Gagalin';
    src: url('./imgs/Gagalin-Regular.otf') format('opentype'); 
}
nav{
    transition: all 0.2s;
    z-index: 1000;
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.781);
}
#nav-logo{
    height: 90%;
    margin-left: 50px;
}
.nav-links{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
    width: 500px;
    margin-left: auto;
}
.nav-links a{
    width: 100px;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.nav-links a:hover{
    background-color: rgba(211, 211, 211, 0.527);
    transition: all 0.2s;
}
.language-icon{
    height: 20px;
}
.section{
    width: 100vw;
}
/* hero section */
#hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('./imgs/en-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: 1;
    position: relative;
}
#hero-logo{
    height: 200px;
    max-width: 80%;
}
.background-hero-blur{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(5px);
    z-index: 2;
}
.hero-text{
    z-index: 3;
    height: 100%;
    width: 100%;
    color: white;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 3px black;
    box-sizing: border-box;
    padding: 0 20px;
    
}
.hero-text h1{
    font-size: 4.5rem;
}
.hero-text h2{
    font-size: 4rem;
    text-align: center;
    font-family: 'Gagalin', sans-serif;
}
#header-btn{
    display: flex;
    width: 250px;
    height: 75px;
    border: 2px solid lightgray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-family: 'Gagalin', sans-serif;
}
#header-btn:hover{
    text-shadow: 1px 1px 3px black;
}
#header-btn p{
    transition: all 0.2s;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px white;
}
#header-btn:hover p:nth-child(1){
    color: #002A7B;
    transition: all 0.2s;
}
#header-btn p:nth-child(2){
    margin-right: 3px;
}
#header-btn:hover p:nth-child(2){
    color: #F4CA15;
    transition: all 0.2s;
    margin-right: 3px;
}
#header-btn:hover p:nth-child(3){
    color: #C81025;
    transition: all 0.2s;
}

/* gallery section */
#gallery-header{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 3rem;
}
#gallery{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.carousel-image-list{
    height: 150px;
    width: 70%;
    background-color: rgba(211, 211, 211, 0.397);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.focus-list{
    border: 2px solid gray !important;
    padding: 5px;
}
.carousel-image-list img{
    width: 250px;
    height: 100px;
    border: 2px solid transparent;
    padding: 5px;
}
.carrousel-container{
    width: 70%;
    height: 80%;
    border: 1px solid lightgray;
    overflow: hidden;
    position: relative;
}
.carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.focus-img{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.prev-button, .next-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}
/* about section */
#about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#about h1{
    margin-bottom: 25px;
}
.header-title{
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}
.header-underline{
    height: 5px;
    display: flex;
    align-items: center;
    width: 100%;

}
.line-1{
    background-color: #002A7B;
}
.line-2{
    background-color: #F4CA15;
}
.line-3{
    background-color: #C81025;
}
.header-underline div{
    height: 5px;
    width: calc(100% / 3);
}
.about-content{
    height: 75%;
    width: 75%;
    display: flex;
    padding: 50px;
    gap: 10px;
    box-sizing: border-box;
    
}
.about-text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
    
}
ul{
    padding: 10px 0px 10px 25px;
    
}
.about-image{
    width: 30%;
    height: 100%;
    background-image: url('./imgs/cochem.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.author{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(68, 68, 68, 0.418);
    box-sizing: border-box;
    padding: 3px 10px;
    font-size: 0.5rem;
}
.author a{
    color: white;
    text-decoration: none;
}
.author a:hover{
    text-decoration: underline;
}
/*location section */
.section-header{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 50px 0;
}
#location{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.map-container iframe{
    width: 45%;
    min-width: 500px;
    height: 100%;
}

.business-hours-container{
    width: 30%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.281);
    height: 100%;
}
.business-hours-container h1,
#mobile-breaks h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.business-hours-table{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mobile-breaks{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.days, .hours, .breaks{
    display: flex;
    flex-direction: column;
    height: 260px;
}
.business-hours-table p,
#mobile-breaks p{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
#mobile-breaks,
.business-hours-table{
    margin-top: 25px;
}
.program-header{
    font-weight: bold;
}
.location-container,
.contacts-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    box-sizing: border-box;
    padding: 15px 0;
}
.contact-item{
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contacts-container{
    padding: 25px 0;
}
.contact-item p{
    font-weight: bold;
}
.contact-item .icon{
    width: 40px;
    height: 40px;
    opacity: 0.8;
}
.contact-item a{
    color: black;
    text-decoration: none;
}
.contact-item a:hover{
    text-decoration: underline;
}


footer{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(211, 211, 211, 0.37);
}
.footer-text{
    margin-left: auto;
}
.designer{
    margin-left: auto;
    margin-right: 50px;
}
#mobile-breaks{
    display: none;
}
.mobile-only-header{
    display: none !important;
}
@media only screen and (max-width: 768px) {
    #hero-logo{
        width: 80%;
        height: auto;
    }
    #mobile-breaks{
        display: flex;
    }
    #menu-btn{
        display: none;
        margin-right: 50px;
        height: 40px;
        width: 40px;
        background-image: url('./imgs/hamburger-menu.png');
        background-position: center;
        background-size: contain;
    }
    
    .close{
        background-image: url('./imgs/close.png') !important;
    }
    nav{
        justify-content: space-between;
        position: fixed;
        top: 0px;
        background-color: white;
    }
    #menu-btn{
        display: flex;
        z-index: 10;
    }
    .nav-links{
        top: 75px;
        width: 100vw;
        position: fixed;
        height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: white;
        transition: all 0.2s;
    }
    
    .nav-links a{
        font-size: 1.2rem;
        transition: all 0.2s;
        width: 100%;
    }
    .nav-links a:hover{
        background-color: rgba(211, 211, 211, 0.24);
        transition: all 0.2s;
    }
    .show-menu{
        height: 500px !important;
        transition: all 0.2s;
    }

    
    .hero-text{
        width: 100vw;
        margin: 0;
        color: white;
        text-shadow: 1px 1px 3px black;
        
    }   
    #header-btn{
        color: white;
        margin-bottom: 50px;
    }

    #hero{
        background-position: right;
        
    }
    #gallery{
        height: auto;
        width: 100vw;
        overflow: hidden;
    }
    .carrousel-container{
        width: 95vw;
        height: 300px;
    }
    .carousel-image-list{
        max-width: 100%;
        height: 150px;
        overflow-x: scroll !important;
        display: none;

    }
    .carousel-image-list img{
        width: 150px !important;
        height: auto;
        box-sizing: border-box;
        min-width: 150px;
        flex: 0 0 auto;
        display: inline-block;
    }
    #about{
        height: auto;
    }
    .about-content{
        height: auto;
        width: 100vw;
        flex-direction: column-reverse;
        margin-bottom: 50px;
        align-items: center;
        padding: 0;
    }

    .about-image{
        width: 90%;
        height: 400px;
        margin-bottom: 25px;
    }
    .about-text{
        width: 90vw;
        text-align: justify;
        padding: 0;
    }
   
    .mobile-only-header{
        display: flex !important;
    }
    #location{
        height: auto;
    }
    .map-container{
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    
    .business-hours-container{
        width: 100%;
        min-width: 250px;
    }
    .business-hours-table{
        height: auto;
    }
    .breaks{
        display: none;
    }
    .contacts-container{
        flex-direction: column;
        gap: 10px;
        box-sizing: border-box;
        padding: 50px;
        width: 100%;
        
    }
    .contact-item .icon{
        margin-right: 20px;
    }
    .contact-item{
        flex-direction: row;
        width: 90%;
        justify-content: start;
    }
    .map-container iframe{
        width: 90%;
        height: 300px;
        min-width: 250px;
    }
    .mobile-open-hours{
        display: flex;
    }
    .designer{
        display: none;
    }
    .footer-text{
        margin: 0;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px){
    #hero{
        background-position: right;
    }
    #location{
        height: auto;
    }
    .map-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    #gmap_canvas{
        width: 100%;
        height: 500px;
        margin-top: 25px;
    }
    .mobile-only-header{
        display: none !important;
    }
    .business-hours-container{
        width: 100%;
    }
    #about{
        align-items: center;
        justify-content: center;
    }
    .about-content{
        width: 95vw;
        height: auto;

    }
    .about-text{
        width: 60%;
        height: auto;
        text-align: justify;
    }
    .about-image{
        width: 40%;
    }
    .hero-text{
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 10%;
        box-sizing: border-box;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
    #header-btn{
        color: white;
    }
    .carrousel-container{
        width: 95%;
    }
    .carousel-image-list{
        width: 95%;
        overflow-x: auto;
    }
}